# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
virtualenv/
venv/
env/

# Log files
*.log

# Configuration
.env
fantrax.env

# Test files
/CascadeProjects/windsurf-project/fantasy-trade-analyzer/tests/
/CascadeProjects/windsurf-project/fantasy-trade-analyzer/pytest.ini

# Unused Modules
/CascadeProjects/windsurf-project/fantasy-trade-analyzer/src/modules/unused_team_scouting
/CascadeProjects/windsurf-project/fantasy-trade-analyzer/src/modules/old_schedule_analysis
